.link {
    text-decoration: none;
    color: black;
}

.active {
    background-color: #a6c1ed;
}

.disabledLink {
    pointer-events: none;
}

.listCheckout {
    list-style: none;
    padding: 0;
    margin: 0;
}